In [28]:
import pandas as pd

In [29]:
df = pd.read_csv('All_states_City_12-03-2024.csv')

/var/folders/69/7vt2tpbd52bf3rh1m_fpv59r0000gn/T/ipykernel_36846/2289393662.py:1: DtypeWarning: Columns (16,17,20,21) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('All_states_City_12-03-2024.csv')

In [30]:
df.head()

,geo_fips,geo_level,metric_name,group_name,data_period,census_parent_shape_year,num,denom,est,lci,...,state_fips,state_abbr,data_indicator,county_indicator,map_indicator,agg_indicator,period_type,source_name,NCHS_disclaimer,suggested_citation
0,15001,city,Air Pollution - Ozone,Total,202301,2020,-999.0,-999.0,NaN,-999.0,...,15,HI,missing_1,county_1,NaN,aggregation_1,1 month average estimate,GMU,The downloadable data tables shared on the Cit...,"Department of Population Health, NYU Langone H..."
1,15001,city,Air Pollution - Ozone,Total,202302,2020,-999.0,-999.0,NaN,-999.0,...,15,HI,missing_1,county_1,NaN,aggregation_1,1 month average estimate,GMU,NaN,NaN
2,15001,city,Air Pollution - Ozone,Total,202303,2020,-999.0,-999.0,NaN,-999.0,...,15,HI,missing_1,county_1,NaN,aggregation_1,1 month average estimate,GMU,NaN,NaN
3,15001,city,Air Pollution - Ozone,Total,202304,2020,-999.0,-999.0,NaN,-999.0,...,15,HI,missing_1,county_1,NaN,aggregation_1,1 month average estimate,GMU,NaN,NaN
4,15001,city,Air Pollution - Ozone,Total,202305,2020,-999.0,-999.0,NaN,-999.0,...,15,HI,missing_1,county_1,NaN,aggregation_1,1 month average estimate,GMU,NaN,NaN

In [31]:
df.columns

Index(['geo_fips', 'geo_level', 'metric_name', 'group_name', 'data_period',
       'census_parent_shape_year', 'num', 'denom', 'est', 'lci', 'uci',
       'geo_name', 'state_fips', 'state_abbr', 'data_indicator',
       'county_indicator', 'map_indicator', 'agg_indicator', 'period_type',
       'source_name', 'NCHS_disclaimer', 'suggested_citation'],
      dtype='object')

In [32]:
df['geo_level'].value_counts()

city    233836
Name: geo_level, dtype: int64

In [33]:
df['county_indicator'].value_counts()

county_1    632
county_2    360
Name: county_indicator, dtype: int64

In [45]:
df['map_indicator'].value_counts()

map_1    8
Name: map_indicator, dtype: int64

In [46]:
df['agg_indicator'].value_counts()

aggregation_1    31968
Name: agg_indicator, dtype: int64

In [47]:
df['data_indicator'].value_counts()

missing_1     47336
cautions_2    10563
censor_2       4187
cautions_3     2465
censor_3        912
censor_1        760
cautions_1      119
Name: data_indicator, dtype: int64

In [34]:
print(df['NCHS_disclaimer'].value_counts())
print(df['suggested_citation'].value_counts())

The downloadable data tables shared on the City Health Dashboard website were not released as a micro-level downloadable datasets from NCHS/RDC, rather .csv aggregated data tables whose analyses were conducted per NCHS disclosure requirements in a secure environment and released as approved output. The findings and conclusions on this website are those of the author(s) and do not represent the views of the Research Data Center, the National Center for Health Statistics, or the Centers for Disease Control and Prevention. NCHS does not recommend further analysis of these tables because linking them to individually identifiable data from other NCHS or non-NCHS datasets could potentially cause disclosure. If you believe a disclosure has occurred please contact info@cityhealthdashboard.com and RDCA@cdc.gov.    1
Name: NCHS_disclaimer, dtype: int64
Department of Population Health, NYU Langone Health. City Health Dashboard. https://www.cityhealthdashboard.com/. Accessed [INSERT DATE OF ACCESS].    1
Name: suggested_citation, dtype: int64

In [ ]:
df = df[['metric_name', 'group_name', 'data_period',
       'census_parent_shape_year', 'num', 'denom', 'est', 'lci', 'uci',
       'geo_name', 'state_abbr', 'data_indicator', 'period_type',
       'source_name']]

In [36]:
df.columns

Index(['metric_name', 'group_name', 'data_period', 'census_parent_shape_year',
       'num', 'denom', 'est', 'lci', 'uci', 'geo_name', 'state_abbr',
       'data_indicator', 'map_indicator', 'agg_indicator', 'period_type',
       'source_name'],
      dtype='object')

In [38]:
df.dtypes

metric_name                  object
group_name                   object
data_period                   int64
census_parent_shape_year      int64
num                         float64
denom                       float64
est                         float64
lci                         float64
uci                         float64
geo_name                     object
state_abbr                   object
data_indicator               object
map_indicator                object
agg_indicator                object
period_type                  object
source_name                  object
dtype: object

In [39]:
df.head()

,metric_name,group_name,data_period,census_parent_shape_year,num,denom,est,lci,uci,geo_name,state_abbr,data_indicator,map_indicator,agg_indicator,period_type,source_name
0,Air Pollution - Ozone,Total,202301,2020,-999.0,-999.0,NaN,-999.0,-999.0,Hawaii,HI,missing_1,NaN,aggregation_1,1 month average estimate,GMU
1,Air Pollution - Ozone,Total,202302,2020,-999.0,-999.0,NaN,-999.0,-999.0,Hawaii,HI,missing_1,NaN,aggregation_1,1 month average estimate,GMU
2,Air Pollution - Ozone,Total,202303,2020,-999.0,-999.0,NaN,-999.0,-999.0,Hawaii,HI,missing_1,NaN,aggregation_1,1 month average estimate,GMU
3,Air Pollution - Ozone,Total,202304,2020,-999.0,-999.0,NaN,-999.0,-999.0,Hawaii,HI,missing_1,NaN,aggregation_1,1 month average estimate,GMU
4,Air Pollution - Ozone,Total,202305,2020,-999.0,-999.0,NaN,-999.0,-999.0,Hawaii,HI,missing_1,NaN,aggregation_1,1 month average estimate,GMU

In [44]:
df['metric_name'].value_counts()

Unemployment - Annual, Neighborhood-Level    19854
Uninsured                                    14339
Unemployment - Current, City-Level           13236
High School Completion                       13236
Air Pollution - Particulate Matter           13236
Air Pollution - Ozone                        13236
Chronic Absenteeism                           8824
Colorectal Cancer Deaths                      8824
Cardiovascular Disease Deaths                 8824
Third-Grade Reading Scores                    8824
Firearm Homicides                             8824
Firearm Suicides                              8824
Premature Deaths (All Causes)                 8824
Opioid Overdose Deaths                        8824
Voter Turnout                                 7721
Children in Poverty                           6618
Breast Cancer Deaths                          6618
Teen Births                                   6618
Prenatal Care                                 6618
Park Access                                   6618
Low Birthweight                               6618
Youth Not in Work or School                   3309
Independent Living Difficulty                 3309
Life Expectancy                               1103
Routine Checkup, 18+                          1103
Walkability                                   1103
Binge Drinking                                1103
Broadband Connection                          1103
Credit Insecurity Index                       1103
Dental Care                                   1103
Diabetes                                      1103
Frequent Mental Distress                      1103
Smoking                                       1103
Rent Burden                                   1103
Racial/Ethnic Diversity                       1103
Frequent Physical Distress                    1103
High Blood Pressure                           1103
Physical Inactivity                           1103
Housing with Potential Lead Risk              1103
Income Inequality                             1103
Obesity                                       1103
Neighborhood Racial/Ethnic Segregation        1103
Lead Exposure Risk Index                      1103
Name: metric_name, dtype: int64